<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List departments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header style="background-color: lightgrey">
    <h2>Company</h2>
</header>
<h3>List departments</h3>
<main>
    <table border="2px">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Department</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:text="${department.id}">
            <td th:text="${department.name}">
            <td><a th:href="@{/department/department_update/{id}(id=${department.id})}">Edit</a></td>
            <td><a th:href="@{/department/department_delete/{id}(id=${department.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <p><a href="/department/department_add">Add</a></p>
</main>
</body>
</html>